<div class="photoBorder">
    <div class="photoTop">
      <p id="pCaption" class="photoCaption"></p>
      <p id="pDate" class="photoDate"></p>
    </div>
    <div class="photoMiddle">
      <a href=""><img id="pImage" class="photoImg" src=""></a>
    </div>
    <div class="photoBottom">
        <div class="photoLike"><a href="https://twitter.com/intent/tweet?screen_name=NASA&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-size="large" data-lang="en" data-show-count="false">LIKE</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
        <div class="photoShare"><a href="https://www.facebook.com/sharer/sharer.php?u=&quote=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;">SHARE</a></div>
    </div>
</div>