<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2"></script>

<div class="mainHeading">
  <h1>10 Nasa Mars Rover Images</h1>
</div>

<div class="error hidden">Error Message here</div>

<div class="mainContent"> 
  <app-single-img></app-single-img>
  <app-single-img></app-single-img>
  <app-single-img></app-single-img>
  <app-single-img></app-single-img>
  <app-single-img></app-single-img>
  <app-single-img></app-single-img>
  <app-single-img></app-single-img>
  <app-single-img></app-single-img>
  <app-single-img></app-single-img>
  <app-single-img></app-single-img>
</div>
